/* index.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@400;500;600;800&display=swap");
:root {
  --primary-color: #174c63;
  --secondary-color: #09b200;
  --white-color: #ffffff;
}
body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  background-color: #ffffff;
}

* {
  font-family: "Poppins", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif !important;
}
.banner-img {
  width: 100%;
  height: auto;
  border-radius: 24px;
}
.banner-form {
  background: linear-gradient(135deg, #1284b5 0%, #cffadd 100%);
  border-radius: 12px;
}

.heading-lg {
  font-size: calc(35px + (65 - 35) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 800;
  letter-spacing: -1px;
}
.heading {
  font-size: calc(25px + (50 - 25) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 600;
}
.heading span {
  font-weight: 800 !important;
}
.header-logo {
  width: calc(100px + (203 - 100) * ((100vw - 320px) / (1920 - 320)));
  height: auto;
  max-width: 203px;
}
.header-link {
  font-size: 16px;
  margin-inline: 10px;
}
.header-link::after {
  content: "";
  position: absolute;
  background-color: var(--secondary-color);
  height: 3px;
  width: 0;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  transition: width 0.3s ease;
}

.header-link:hover {
  font-weight: 600;
}

.header-link:hover::after {
  width: 100%;
}

.header-link:has(a.active)::after {
  width: 100%;
}
.header-link a.active {
  font-weight: 600;
}
.primary-select {
  border: 0 !important;
  border-bottom: 1px solid !important;
  background-color: transparent !important;
  color: var(--white-color) !important;
  border-radius: 0 !important;
  font-size: 16px !important;
  box-shadow: none !important;
  padding-left: 0 !important;
  --bs-form-select-bg-img: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" viewBox="0 0 16 16"><path d="M7.247 11.14 L2.451 5.658 C1.885 5.013 2.345 4 3.204 4 h9.592 a1 1 0 0 1 .753 1.659 l-4.796 5.48 a1 1 0 0 1-1.506 0 z"/></svg>') !important;
}
.dr-img {
  height: 295px;
}
.m-banner-form {
  margin-top: -120px;
}
.section {
  margin-block: 80px;
}
.about-us-img img {
  object-fit: cover;
  object-position: top;
}
.about-us-img {
  max-height: 555px;
  height: 400px;
  position: relative;
  object-fit: cover;
  border-radius: 12px;
}
.about-us-img::after {
  content: "";
  position: absolute;
  background-color: #fbedee;
  width: 60%;
  height: 50%;
  right: -7px;
  top: -7px;
  z-index: -1;
  border-radius: 0 12px 0 0;
}
.about-us-img::before {
  content: "";
  position: absolute;
  background-color: #e6f0fd;
  width: 60%;
  height: 50%;
  left: -7px;
  bottom: -7px;
  z-index: -1;
  border-radius: 0 0 0 12px;
}
.para-lg {
  font-size: 24px;
}
.para {
  font-size: 16px;
}
.secondary-para {
  font-size: 16px;
  color: var(--secondary-color);
  font-weight: 600;
}
.department {
  background-color: #e6f0fd;
  border-radius: 24px;
}

.department-cards {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  max-width: 100%;
  justify-content: center;
}
.department-card p {
  font-size: 16px;
  font-weight: 400;
}
.news-room {
  background-color: #f5f5ff;
}
.news-card {
  background: transparent !important;
  border: 0 !important;
}
.news-card img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  max-height: 490px;
  object-fit: cover;
}
.news-card-title {
  font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1920 - 320)));
}
.news-card-horizontal img {
  max-height: 200px !important;
}
.accordion-body {
  font-size: 18px !important;
  font-weight: 400;
}
.accordion-button {
  box-shadow: none !important;
  background: transparent !important;
  font-size: 18px !important;
  font-weight: 500;
  color: black !important;
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4'/%3E%3C/svg%3E") !important;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8'/%3E%3C/svg%3E") !important;
}
.service-img img {
  border-radius: 12px;
}
.service-img {
  width: 50%;
  position: relative;
  height: fit-content;
}
.service-img::after {
  position: absolute;
  content: "";
  background-color: #fbedee;
  width: 80%;
  height: 95%;
  border-radius: 12px;
  right: -58px;
  z-index: -1;
  transform: rotate(20deg);
  top: -14px;
}
.service-bottom-img {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.footer {
  background-color: #f5f5ff;
  padding-block: 80px;
}
.footer-logo {
  width: 125px;
}
.quick-links ul {
  list-style: none;
  padding: 0;
}
.quick-links p {
  font-size: 16px;
  font-weight: 600;
  color: #174c63;
}
.quick-links li {
  margin-block: 7px;
}
.mini-footer {
  background-color: #174c63;
}
.h-fit-content {
  height: fit-content;
}
@media (max-width: 576px) {
  .service-img {
    width: 100%;
  }
  .service-img::after {
    content: unset;
  }
  .para {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .heading-lg {
    margin-bottom: 80px;
  }
  .department-cards {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  }
  .footer {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .m-banner-form {
    margin-top: -60px;
  }
  .banner-img {
    height: 380px;
    object-fit: cover;
  }
  .h-md-75 {
    height: 75%;
  }
  .about-us-img {
    width: 300px;
    margin-inline: auto;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px !important;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1420px !important;
  }
}
@media (min-width: 1920px) {
  .container {
    max-width: 1782px !important;
  }
  .service-img {
    width: 558px;
  }
  .service-bottom-img {
    left: 80px;
  }
  .service-img::after {
    position: absolute;
    content: "";
    background-color: #fbedee;
    width: 76%;
    height: 94%;
    border-radius: 12px;
    right: -106px;
    z-index: -1;
    transform: rotate(20deg);
    top: -16px;
  }
  .section {
    margin-block: 120px;
  }
}
